# == Application settings ==
# Port to bind to. Optional, default 3000.
PORT=3000


# == Tags ==
# Required. Generally used for tagging telemetry data. See tagging standards in
# https://procoretech.atlassian.net/wiki/spaces/INF/pages/631374297/Resource+Tagging+Standard
# for details on expected values.
PZ=us00
STAGE=development
ENV=development

# Used to associate errors with release versions. Should generally be set at
# build time for release builds
APP_VERSION=development


# == Logging ==
# Optional, default info.
LOG_LEVEL=debug

# Optional. Set to pretty-print logs. Recommended for development.
LOG_FORMAT=pretty

# Optional. Set to hide static tags from logs. Recommended for development.
LOG_METADATA=none


# == Error reporting / BugSnag ==
# logs | bugsnag. Optional, default logs.
ERROR_HANDLER=logs

# Required if ERROR_HANDLER=bugsnag
# Request a project provisioned and credentials through the P&T Marketplace
BUGSNAG_API_KEY=...


# == Metrics / DataDog ==
# logs | datadog. Optional, default logs.
METRICS_HANDLER=logs

# Required if METRICS_HANDLER=datadog
# Request credentials through the P&T Marketplace
DATADOG_AGENT_HOST=...


# == Traces / New Relic ==
# Note that New Relic specifically is initialized _before_ this file is auto-
# sourced by Nest. It is not generally recommended to report data to New Relic
# in development, but if desired, you will need to change and manually set the
# following variables in your environment.
#
# See https://docs.newrelic.com/docs/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration
# for a full reference of available settings.
#
# Follow https://procoretech.atlassian.net/wiki/spaces/CSE/pages/2180187090/New+Relic#New-Relic-License-Key to request a New Relic License Key
NEW_RELIC_ENABLED=false
NEW_RELIC_LICENSE_KEY=...

# == Metrics / k6 ==
# Note that this section will be required if one wants to publish
# their Metrics from k6 test runs to an Observability Platform.
# Both are not required to be filled out if you choose one platform
# over another (e.g. Datadog and not New Relic).
DATADOG_K6_API_KEY =...
NEW_RELIC_K6_API_KEY =...
